body {
    background-color: #ecdabd;

}

ul li {
    display: inline;
    font-size: 40px;
    margin-left: 20px;
    border-bottom: 5px solid #9fc89b;
    margin-left: 100px;
    line-height: 3;
}

.sections li{
    text-shadow: 2px 2px 2px #9fc89b;
}

#myName {
    font-size: 50px;
}

h1 span {
    font-weight: 1500;
    color: #447b3f;
}

h2 span {
    font-weight: 900;
    color: #447b3f
}

#background{
    line-height: 2;
}

ul li:hover {
    font-weight: bold;
}

.introText {
    display: flex;
    flex-direction: column;
    color: #6aa765;
}

.intro {
    display: flex;
    justify-content: space-around;
    border-bottom: solid #e5ad53;
    padding:0px 100px 30px 100px;
    align-items: flex-start;
}

.introPhoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px 0px;
}

#me {
    background: repeating-linear-gradient(45deg,
            #e5ad5300,
            #86612600 10px,
            #e5ad5323 10px,
            #8661262d 20px);
    padding: 5px;
    border-radius: 15px;

}

#title1 {
    margin-top: 100px;
}

.experience {
    display: flex;
    justify-content: space-around;
}

a {
    color: black;
    text-decoration: none;

}